.root {
  display: grid;
  grid-template-columns: 5fr 1fr 6fr;
  gap: 16px;
}

.content {
  max-width: 624px;
}

.img {
  grid-column-start: 3;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column-reverse;
  }
}
