.layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    border-top: 1px solid #DBDBDB;
    padding-top: 36px;
    position: relative;
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    position: sticky;
    top: 80px;
    align-self: start;
}

.sidebar li {
    margin-bottom: 24px;
}

.sidebar a {
    text-decoration: none;
    color: #8E8E8E;
}

.sidebar a:hover, .sidebar a:focus, .sidebar a:active, a.active {
    color: #0E0F12;
}

.content {
    max-width: 624px;
}
