.root {
  height: 300vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.spacer {
  position: relative;
  padding-bottom: 160px;
}

@media (max-width: 1023px) {
  .spacer {
    padding-bottom: 60px;
  }
}

.videoContainer {
  position: relative;
}

.videoContainer2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.video {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 1023px) {
  .content {
    left: 20px;
    transform: none;
    right: 20px;
  }
}

.content.text1 {
  top: 0;
}

.content.text2 {
  position: fixed;
  top: 15vh;
  opacity: 0;
}

.content.text3 {
  position: static;
  transform: translateY(0);
  margin-top: -360px;
}

.table {
  font-size: 16px;
  margin-right: 50px;
  margin-top: 7px;
}

@media (max-width: 1023px) {
  .table {
    margin-right: 0px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 14px 0;
}

.row:last-child {
  border-bottom: 1px solid #dbdbdb;
}

.label {
  color: #0e0f12;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  padding-right: 30px;
}

.row div {
  white-space: nowrap;
  text-align: right;
  line-height: 1.45;
  vertical-align: top;
}
