.root {
  min-height: 100vh;
  position: relative;
  background-color: #ebecea;
}

.videoContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #e8eae7;
}

.video {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
