.overflowHidden {
  overflow: hidden;
}

.root {
  height: calc(max(300vh, 2400px));
  position: relative;
  width: 100%;
}

.spacer {
  position: relative;
  padding-bottom: 160px;
}

@media (max-width: 1023px) {
  .spacer {
    padding-bottom: 60px;
  }
}

.videoContainer {
  position: relative;
}

.video {
  position: absolute;
  left: calc(50vw - max(50vh, 400px));
  width: 100vh;
  height: 100vh;
  min-width: 800px;
  min-height: 800px;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 1023px) {
  .content {
    left: 20px;
    transform: none;
    right: 20px;
  }
}

.content.text1 {
  top: 0;
}

.content.text2 {
  position: fixed;
  top: 15vh;
  opacity: 0;
}

.content.text3 {
  position: static;
  transform: translateY(0);
  margin-top: calc(120px - 50vh);
  padding-top: calc(max(0px, 440px - 50vh));
}

.table {
  font-size: 16px;
  margin-right: 50px;
  margin-top: 7px;
}

@media (max-width: 1023px) {
  .table {
    margin-right: 0px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 14px 0;
}

.row:last-child {
  border-bottom: 1px solid #dbdbdb;
}

.label {
  color: #0e0f12;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  padding-right: 30px;
}

.row div {
  white-space: nowrap;
  text-align: right;
  line-height: 1.45;
  vertical-align: top;
}
