.root {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.wide {
  max-width: 752px;
}

.heading {
  font-size: 72px;
  margin-bottom: 1rem;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -1.44px;
}

@media (max-width: 1023px) {
  .heading {
    font-size: 48px;
    margin-bottom: 12px;
  }
}

.dark .heading {
  color: #fff;
}

.center {
  text-align: center;
}

.content {
  color: #6c6c6c;
  font-size: 24px;
  letter-spacing: -0.48px;
  display: flex;
}

@media (max-width: 1023px) {
  .content {
    font-size: 18px;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.dark .content {
  color: #beb6ae;
}
