.root {
  max-width: 496px;
}

.wide {
  max-width: 752px;
}

.heading {
  font-size: 72px;
  margin-bottom: 1rem;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -1.44px;
}

.dark .heading {
  color: #fff;
}

.center {
  text-align: center;
}

.content {
  color: #6c6c6c;
  font-size: 24px;

  letter-spacing: -0.48px;
  display: flex;
}

.dark .content {
  color: #beb6ae;
}
