.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
}

.sectionTitle {
  color: #0e0f12;
  font-size: 24px;
}

.smallTitle {
  font-size: 18px;
  color: #0e0f12;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  padding: 40px 0 60px;
  border: 0;
  border-top: 1px solid #dbdbdb;
  line-height: 1.45;
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  padding-bottom: 0;
}

.row.noBorderTop {
  border-top: 0;
}
