.button {
  height: 40px;
  color: inherit;
  font-size: 14px;
  border: 0;
  border-radius: 999em;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  transition: all 0.2s;
}

.button:hover .arrow {
  color: white;
  background-color: #0e0f12;
}
