.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: radial-gradient(
    circle at top,
    white 0%,
    #e3e3e3 50%,
    #e3e3e3 100%
  );
  position: relative;
  z-index: 2;
}

.hero {
  font-weight: normal;
  text-align: center;
  color: #0e0f12;
  font-size: 96px;
  width: 930px;
  max-width: 100%;
  padding-top: 120px;
}

.imgContainer {
  position: absolute;
  bottom: 0;
  top: 315px;
  width: 100%;
}

.img {
  text-align: center;
  object-fit: contain;
  object-position: center bottom;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s;
}

.toggle {
  width: 280px;
  position: absolute;
  bottom: 80px;
}
