.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(
    circle at top,
    white 0%,
    #e3e3e3 50%,
    #e3e3e3 100%
  );
  position: relative;
  z-index: 2;
}

.hero {
  font-weight: normal;
  text-align: center;
  color: #0e0f12;
  font-size: 96px;
  line-height: 1.1;
  letter-spacing: -0.96px;
  top: 128px;
  width: 930px;
  max-width: 100%;
  position: absolute;
}

@media (max-width: 1023px) {
  .hero {
    font-size: 48px;
    top: 96px;
  }
}

.imgContainer {
  position: absolute;
  bottom: 0;
  top: 270px;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .imgContainer {
    top: 170px;
  }
}

.imgHero {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.imgContainerSpecs {
  top: 25vh;
}

@media (max-width: 1023px) {
  .imgContainerSpecs {
    top: 32vh;
    bottom: 5vh;
  }
}

.img {
  text-align: center;
  object-fit: contain;
  object-position: center bottom;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s;
}

.toggle {
  width: 280px;
  position: absolute;
  bottom: 80px;
}

.mobileBuyButton {
  display: none;
}

@media (max-width: 767px) {
  .toggle {
    display: none;
  }

  .mobileBuyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    position: absolute;
    bottom: 20px;
  }
}
