.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    rgba(255, 255, 255, 0.75) 0%,
    #e3e3e3 50%,
    #e3e3e3 100%
  );
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero {
  font-weight: normal;
  text-align: center;
  color: #0e0f12;
  font-size: 96px;
  width: 930px;
  max-width: 100%;
  padding-top: 70px;
}

.img {
  position: absolute;
  bottom: 0;
  top: 315px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  object-fit: contain;
  object-position: center bottom;
  overflow: hidden;
  pointer-events: none;
  background-image: url("/hero.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.toggle {
  width: 280px;
  position: absolute;
  bottom: 80px;
}
