.root {
  background-color: #e3e3e3;
  position: relative;
}

@media (max-width: 1023px) {
  .root {
    background-color: white;
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 25px;
}
