.root {
  line-height: 1.45;
  max-width: 752px;
}

.root hr {
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 30spx;
}

.root p {
  margin-top: 24px;
}

.root h2,
.root h3 {
  margin-top: 24px;
  font-family: var(--medium);
}

.root a {
  color: #8e8e8e;
}

.root a:hover {
  color: #0e0f12;
  text-decoration: underline;
}

.root ul {
  margin-top: 16px;
  padding-left: 24px;
}

.root li {
  list-style: disc;
}

.root li:not(:first-child) {
  margin-top: 12px;
}
