.footer {
  border-top: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 70px;
}

.footer > * {
  flex-basis: 0;
  flex-grow: 1;
}

.footer a {
  color: #6c6c6c;
}

.footer a:hover,
.footer a:focus {
  color: #0e0f12;
}

.footer ul {
  display: flex;
}

.footer ul ul {
  margin-right: 20px;
  flex-direction: column;
}

.footer li {
  margin-bottom: 8px;
  flex-basis: 0;
  flex-grow: 1;
}

.footer h4 {
  margin-bottom: 12px;
}

.footer small {
  font-size: 12px;
  font-style: italic;
}
