.spacer {
  height: 200vh;
}

.lead {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lead p {
  margin-left: auto;
  margin-right: auto;
  max-width: 1008px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.96px;
  color: #c7c7c7;
  margin-top: 36px;
}

.highlight {
  color: #0e0f12;
}
