.root {
  color: white;
  background-color: #0e0f12;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}

.heading {
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: normal;
  margin-bottom: 24px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1023px) {
  .heading {
    font-size: 48px;
  }
}

.toggle {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

@media (max-width: 1023px) {
  .toggle {
    margin-bottom: 30px;
  }
}

.image {
  max-width: 70%;
  height: auto;
  width: 360px;
  margin-bottom: 100px;
  height: 360px;
}

@media (max-width: 1023px) {
  .image {
    margin-bottom: 30px;
  }
}

.textContainer {
  position: relative;
  max-width: 750px;
  color: rgba(249, 238, 226, 0.75);
  font-size: 36px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.72px;
}

@media (max-width: 1023px) {
  .textContainer {
    font-size: 24px;
  }
}

.ceramic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s opacity;
  background-color: #0e0f12;
}

.textContainer p {
  margin-bottom: 40px;
}

@media (max-width: 1023px) {
  .textContainer p {
    margin-bottom: 12px;
  }
}

.textContainer em {
  color: #f9eee2;
}
