.root {
  color: white;
  background-color: #0e0f12;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}

.heading {
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: normal;
  margin-bottom: 24px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1023px) {
  .heading {
    font-size: 48px;
  }
}

.toggle {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

@media (max-width: 1023px) {
  .toggle {
    margin-bottom: 30px;
  }
}

.image {
  max-width: 100%;
  height: auto;
}

.p {
  max-width: 750px;
  color: rgba(249, 238, 226, 0.75);
  font-size: 36px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.72px;
  margin-top: 40px;
}

@media (max-width: 1023px) {
  .p {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.p em {
  color: #f9eee2;
}
