.button {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 999em;
  cursor: pointer;
  border: 0;
  transition: all 0.2s;
}

.buttonDisabled {
  cursor: not-allowed;
}

.button:not(.buttonDisabled):hover {
  background-color: #0e0f12;
  color: white;
}
