.root {
  background-color: #0e0f12;
  padding-bottom: 160px;
  overflow: hidden;
}

.text {
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
}

.range {
  margin-top: 160px;
  display: flex;
  font-size: 16px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .range {
    margin-top: 60px;
  }

  .range div {
    font-size: 12px;
    max-width: 80px;
    text-align: center;
  }
}

.scale {
  height: 40px;
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  width: 100%;
  border-right: 1px solid #323336;
  background-image: repeating-linear-gradient(
    90deg,
    #323336,
    #323336 1px,
    transparent 1px,
    transparent 10px
  );
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .scale {
    border-right: 0.5px solid #323336;
    background-image: repeating-linear-gradient(
      90deg,
      #323336,
      #323336 0.5px,
      transparent 0.5px,
      transparent 10px
    );
  }
}

.indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #fc4c02;
}

.indicator::before {
  content: "";
  top: 0;
  left: -4px;
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fc4c02 transparent transparent transparent;
}

.images {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  height: 550px;
}

@media (max-height: 767px) {
  .images {
    height: 440px;
  }
}

.imagesInner {
  padding-left: 20px;
  position: absolute;
  border-right: 1px solid #323336;
  display: flex;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .imagesInner {
    border-right-width: 0.5px;
  }
}

.type {
  width: 500px;
  height: 500px;
  font-size: 14px;
  color: rgba(249, 238, 226, 0.75);
  text-align: center;
  line-height: 145%;
  position: relative;
  background-image: repeating-linear-gradient(
    90deg,
    #323336,
    #323336 1px,
    transparent 1px,
    transparent 100px
  );
}

@media (max-height: 767px) {
  .type {
    height: 350px;
    width: 300px;
  }

  .type img {
    height: 300px;
    width: 300px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .type {
    background-image: repeating-linear-gradient(
      90deg,
      #323336,
      #323336 0.5px,
      transparent 0.5px,
      transparent 100px
    );
  }
}

.type h3 {
  color: white;
}

.label {
  max-width: 182px;
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}
