.slideshow {
  width: 100%;
  max-width: calc(100dvw - 40px);
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.slide {
  color: #6c6c6c;
  font-size: 16px;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .slide {
    padding-bottom: 10px;
  }
}

.arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-100%) rotate(180deg);
  left: 40px;
  background: white;
}

.arrow.right {
  left: auto;
  right: 40px;
  transform: translateY(-100%) rotate(0deg);
}

@media (max-width: 767px) {
  .arrow {
    left: 10px;
  }
  .arrow.right {
    right: 10px;
  }
}

.slideshow :global(.slick-dots) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  background-color: #f1f1f1;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .slideshow :global(.slick-dots) {
    padding-bottom: 30px;
  }
}

.slideshow :global(.slick-dots) li {
  width: auto;
  height: auto;
  margin: 0;
  cursor: default;
}

.slideshow :global(.slick-dots) button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #8e8e8e;
  opacity: 0.3;
  margin: 0 5px;
  padding: 0;
}

.slideshow :global(.slick-dots) :global(.slick-active) button,
.slideshow :global(.slick-dots) button:hover {
  opacity: 1;
}

.slideshow :global(.slick-dots) button:before {
  content: none;
}

.slideshow :global(.slick-dots) .slick-active button {
  opacity: 1;
}

.caption {
  padding: 0 40px;
}

.img {
}
