.group {
  display: flex;
  border-radius: 999em;
  border: 1px solid rgba(255, 255, 255, 0.24);
  height: 40px;
  bottom: 100px;
  padding: 4px;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.36);
  position: relative;
  top: 0;
}

.group.dark {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.item {
  flex-grow: 1;
  flex-basis: 0;
  border: 0;
  background: none;
  border-radius: 999em;
  cursor: pointer;
  transition: 0.2s all;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}

.dark .item {
  color: white;
}

.item[data-state="off"] {
  color: rgba(14, 15, 18, 0.5);
}

.dark .item[data-state="off"] {
  color: rgba(255, 255, 255, 0.4);
}

.item[data-state="off"]:hover {
  color: rgba(14, 15, 18, 1);
}

.dark .item[data-state="off"]:hover {
  color: rgba(255, 255, 255, 1);
}

.active {
  background-color: white;
  position: absolute;
  top: 4px;
  bottom: 4px;
  border-radius: 999em;
  transition: 0.2s all;
  z-index: -1;
  pointer-events: none;
}

.dark .active {
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
}
