.container {
  background-color: #f1f1f1;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container > * {
  width: 60%;
}

@media (max-width: 767px) {
  .container {
    padding-top: 30px;
  }

  .container > * {
    width: 85%;
  }

  .slideshow {
    max-width: calc(100vw - 40px);
  }

  .slideshow {
    padding-top: 30px;
  }
}
