.root {
  background-color: #f1f1f1;
  padding-top: 160px;
  padding-bottom: 160px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.text {
  width: 496px;
  max-width: 100%;
  flex-shrink: 0;
}

@media (max-width: 1023px) {
  .wrapper {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .text {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}

.preview {
  position: relative;
  flex-grow: 1;
  pointer-events: none;
  width: 100%;
  max-height: 90vh;
}

@media (max-width: 1023px) {
  .preview {
    /* Override GSAP and effectively disable it */
    position: relative !important;
    transform: none !important;
    left: 0 !important;
    top: 0 !important;

    height: 70vh;
    max-width: 70vh;
    margin-left: auto;
    margin-right: auto;
  }
}

.preview::after,
.preview::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 2;
}

.preview::before {
  background: linear-gradient(90deg, #f1f1f1 0%, transparent 100%);
  left: 0px;
}

.preview::after {
  background: linear-gradient(90deg, transparent 0%, #f1f1f1 100%);
  right: 0px;
}

.image {
  object-fit: cover;
}

.container {
  max-width: 500px;
  width: 100%;
  flex-grow: 1;
  padding-right: 40px;
}

@media (max-width: 1023px) {
  .container > div {
    margin-left: auto;
    right: auto;
  }
}

.mobileSelector {
  display: none;
}

.mobileText {
  display: none;
}

@media (max-width: 1023px) {
  .selector {
    display: none;
  }

  .mobileSelector {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;
    border-radius: 999em;
    margin-bottom: 30px;
  }

  .mobileSelector li {
    height: 24px;
  }

  .mobileSelector .color {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .mobileText {
    display: block;
    width: 274px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileText h3 {
    font-size: 18px;
  }

  .mobileText p {
    margin-top: 10px;
    color: #6c6c6c;
  }
}

.heading {
  color: #6c6c6c;
  font-weight: normal;
  padding-bottom: 12px;
  margin-top: 60px;
}

.accordion {
  border-bottom: 1px solid #dbdbdb;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  height: 52px;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
  border: none;
  width: 100%;
  background: none;
  border-top: 1px solid #dbdbdb;
}

.color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 999em;
  position: relative;
  border: 0;
}

.header:hover .color::after,
.color.active::after {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border: 2px solid #f1f1f1;
  border-radius: 999em;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.content {
  color: #6c6c6c;
  font-size: inherit;
  overflow: hidden;
}

.content[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.content[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.desc {
  padding: 10px 0 26px;
  max-width: 368px;
}
