.button {
  position: relative;
  border: 0;
  border-radius: 999em;
  background-color: #fc4c02;
  color: white;
  height: 40px;
  padding-left: 20px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

.button.dark {
  background-color: #4d2210;
}

.icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 999em;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 5px;
  transition: all 0.2s ease-out;
}

.button:hover:not(.disabled) .icon,
.button:focus:not(.disabled) .icon {
  right: 5px;
  background-color: #fe7b44;
}

.disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.disabled .icon {
  opacity: 0.5;
}

.loading {
  position: absolute;
  left: 50%;
  margin-left: -6px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
