.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;
  height: 64px;
  transition: background-color 0.2s;
  color: #0e0f12;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transparent {
  background-color: transparent);
}

.white {
  background-color: rgba(255, 255, 255, 0.8);
}
.light1 {
  background-color: rgba(241, 241, 241, 0.8);
}
.light2 {
  background-color: rgba(227, 227, 227, 0.8);
}

.dark {
  background-color: rgba(14, 15, 18, 0.8);
  color: white;
}

.instagram {
  background: #e6e6e6;
  color: #4d4e50;
  height: 32px;
  border-radius: 999em;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 8px;
  font-size: 14px;
  transition: all 0.2s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .instagram {
    display: none;
  }
}

.instagram:hover {
  background: #dbdbdb;
  color: #0e0f12;
}

.light1 .instagram,
.light2 .instagram {
  background: #cccccc;
}

.light1 .instagram:hover,
.light2 .instagram:hover {
  background-color: #c2c2c2;
}

.dark .instagram {
  background: #0e0f12;
  color: #b0b1b5;
}

.dark .instagram:hover {
  color: white;
}

.logo {
  margin-top: 5px;
}

.mobileToggle {
    display: none;
}

@media (max-width: 767px) {
  .buy {
      display: none !important;
  }

  .mobileToggle {
      display: flex;
      gap: 20px
  }

  .mobileToggle a {
      color: #7D7D7D;
  }

  .mobileToggle .active {
      color: #0e0f12;
  }
}
