.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  padding-top: 20px;
}

.logo {
  margin-top: 5px;
}
